
<configuration>

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>frg*conf*cache - %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

   <logger name="com.fragnostic.conf.props.service" level="WARN"/>
   <logger name="com.fragnostic.dao" level="WARN"/>

   <logger name="cl.atacamasoft.focused.calendar.dao" level="WARN"/>
   <logger name="cl.atacamasoft.focused.calendar.service.i18n" level="WARN"/>
   <logger name="cl.atacamasoft.focused.calendar.dao.support.ConversionSupport" level="WARN"/>
   <logger name="cl.atacamasoft.focused.calendar.service.impl" level="WARN"/>

   <root level="INFO">
      <appender-ref ref="STDOUT" />
   </root>

</configuration>

